@media (min-width: 768px) {
  .container {
    width: 88%;
  }

  #header {
    position: fixed;
    z-index: 3;
  }

  .banner.show-banner {
    display: block;
  }

  .btn-mobile-menu {
    display: none;
  }

  #navbar {
    box-shadow: 4px 4px 4px var(--dark-color-opac-2);
    background-color: var(--white-color);
    padding: 0;
  }

  #navbar-content {
    justify-content: space-between;
  }

  .logo-container {
    width: 140px;
  }

  .logo-container img {
    display: inline-block;
  }

  .navbar-menu {
    display: block;
  }

  .navbar-menu ul {
    gap: 20px;
  }

  .navbar-menu ul li {
    padding: 17.5px 0;
  }

  .navbar-menu ul li .nav-link {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #868686;
    transition: color 0.5s ease;
  }

  .navbar-menu ul li .nav-link:hover {
    color: var(--primary-color);
  }

  .section-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -0.01em;
  }

  #home-headline,
  #about-headline {
    padding: 15rem 1.25rem 8rem 2rem;
  }

  .section-image-bg.home-section {
    top: 5rem;
  }

  .section-image-bg.about-section {
    width: 80%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-position: center;
  }

  #about-headline .container {
    align-items: center;
  }

  #main-title-container {
    width: 70%;
  }

  .first-greeting {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  #about-headline .first-greeting {
    display: none;
  }

  #home-title {
    font-size: 70px;
    margin-bottom: 3rem;
  }

  #about-title {
    font-size: 60px;
  }

  .headline-description {
    margin-bottom: 4rem;
  }

  .headline-description p {
    font-weight: 600;
  }

  #home-headline .headline-description p {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
  }

  #about-headline .headline-description p {
    font-size: 14px;
    line-height: 25px;
  }

  #headline-date-details {
    font-size: 42.5px;
    padding-bottom: 1rem;
  }

  #headline-location-info {
    font-size: 28px;
  }

  #headline-contact-container {
    width: 50%;
  }

  #contact-details {
    font-size: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 0.5rem;
  }

  #contact-email a {
    font-size: 17px;
  }

  #main-program {
    padding: 4.58rem 1.2rem;
  }

  #program-items-boxes {
    padding: 4.38rem 0;
    grid-auto-rows: minmax(231px, auto);
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .program-item {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0.8rem;
  }

  .program-item:hover {
    transform: translateY(-20px);
  }

  .program-item .item-icon {
    width: 50px;
    max-width: 60px;
  }

  .program-item .item-icon img {
    width: 100%;
  }

  .program-item .item-title,
  .program-item .item-details {
    text-align: center;
    width: 100%;
  }

  .program-item .item-title {
    font-size: 20px;
    line-height: 28px;
  }

  .program-item .item-details {
    font-size: 12px;
    line-height: 23px;
  }

  #get-appointment-link {
    display: none;
  }

  #check-whole-program {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--white-color);
    transition: all 0.5s ease;
  }

  #check-whole-program:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    text-decoration-line: none;
  }

  #featured-contributors {
    padding: 4.65rem 0.7rem;
  }

  #contributors-items-boxes {
    padding: 3.5rem 0 1.88rem 0;
    gap: 1.5rem;
  }

  .contributor {
    width: 47%;
  }

  #logo-event-ptw2023,
  #latest-events {
    padding: 4.58rem 1.2rem;
  }

  #logo-origin-details {
    width: 65%;
  }

  #logo-event-ptw2023-image {
    width: 75%;
    padding: 2rem 1rem;
  }

  #event-items-container {
    width: 80%;
    padding: 2rem 0;
  }

  .event-box {
    width: 48%;
  }

  #partner {
    padding: 2.19rem 1.2rem 2.19rem 1.2rem;
  }

  #partners-logos-link {
    padding-top: 3.13rem;
  }

  #partners-logos-link ul {
    gap: 2.5rem;
  }

  #partners-logos-link .partner-link {
    width: 180px;
  }

  #footer {
    padding: 4.65rem 1.25rem;
  }

  #footer .copyright-wrapper {
    gap: 4.5rem;
  }

  #footer .logo-website {
    width: 250px;
    padding-left: 1.5rem;
  }

  #footer .copyright {
    font-size: 14px;
    line-height: 28px;
  }
}
